@media (max-width: 1080px) {
    .weekButton {
        display: none;
    }
}

@media (min-width: 1081px) {
    .dayButton {
        display: none;
    }

}

body {
    font-family: 'Georgia', sans-serif;
    background-color: #a3d9ec;
    font-weight: 400;
}

.container {
    margin: 20px auto;
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    width: 80%;
    height: 10%;
}

.schedule {
    margin: 10px auto;
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    width: 80%;
    height: 80%;
}

.scheduleHeader {
    display: flex;
    justify-content: space-between;
}

button {
    padding: 10px;
    font-size: 20px;
    color: #2b415a;
    border: 1px solid #579bb4;
    background-color: white;
    border-radius: 5px;
}
